body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0c419;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0c419;
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    flex-direction: row-reverse;
}

.text-section {
    width: 50%;
    color: white;
    text-align: right;
    margin-right: 10px;
}

h1 {
    font-size: 90px;
    font-weight: bold;
    color: red;
}

.highlight {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 30px;
    line-height: 1.6;

}

.image-section {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.image-section img {
    width: 800px;
    max-width: 700px;
    border-radius: 15px;
    margin-left: -100px;
}
