body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0c419;
}

.container {
    padding: 20px;
    border-radius: 15px;
}

.text-section {
    color: white;
    text-align: right;
}

h1 {
    font-size: 2.5rem; /* Responsive size */
    font-weight: bold;
    color: orange;
    font-family: 'Times New Roman', Times, serif !important; /* Ensure this font applies */
}

.highlight {
    color: white;
}

p {
    font-size: 1.25rem; /* Responsive size */
    line-height: 1.6;
    color: black;
    font-weight: bold;
}

.image-section {
    display: flex;
    justify-content: flex-start;
}

.image-section img {
    border-radius: 15px;
}
